footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.4em;
    gap: 0.3em;
}

p,
a footer {
    font-size: 0.7rem;
}

@media screen and (min-width: 768px) {
    footer {
        padding: 0.8em;
    }
    
    p,
    a footer {
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 1024px) {
    p,
    a footer {
        font-size: 0.9rem;
    }
}