form {
    align-items: center;
    justify-content: center;
    margin-block: 1em;
}

.inputForm,
.textareaForm {
    width: 90%;
    border-radius: 8px;
    margin-bottom: 1em;
    padding: 0.7em;
    line-height: 1.5;
    font-weight: 500;
}

.submitBtn {
    width: 90%;
    padding-block: 1em;
}

.inputError {
    border-color: #dc3545;
    background-color: #ffe6e6;
}

@media screen and (min-width: 768px) {
    .inputForm,
    .textareaForm {
        width: 80%;
    }
    
    .submitBtn {
        width: 20%;
    }
}

@media screen and (min-width: 1024px) {
    .inputForm,
    .textareaForm {
        width: 70%;
    }
}