.taskName,
.taskDescription {
    font-weight: 500;
    text-align: center;
}

.taskName {
    font-size: 0.9rem;

}

.taskDescription {
    font-size: 0.75rem;
}

.completed {
    color: #808080;
}

.taskBtns {
    gap: 0.5em;
    width: 60%;
    justify-content: center;
}

.btnTarea {
    width: 40%;
    font-size: 0.85rem;
    padding: 0.6em;
}


.eliminar {
    background-color: brown;
}

.eliminar:hover {
    background-color: darkred;
    box-shadow: 0 4px 12px darkred (30, 58, 95, 0.4);
}

.pendiente {
    background-color: #FFEA00;
    color: rgb(133, 61, 20);

}

.pendiente:hover {
    background-color: #FFD400;
    box-shadow: 0 4px 12px #FFD400 (30, 58, 95, 0.4);

}

.finalizada {
    background-color: black
}

.finalizada:hover {
    background-color: rgb(31, 30, 30);
    box-shadow: 0 4px 12px rgb(31, 30, 30) (30, 58, 95, 0.4);
}

@media screen and (min-width: 768px) {

    .taskName {
        font-size: 1rem;
        width: 20%;
    }

    .taskDescription {
        font-size: 0.8rem;
        width: 25%;
    }

    .taskBtns {
        gap: 1em;
        width: auto;
    }

    .btnTarea {
        width: 8em;
    }
}

@media screen and (min-width: 1024px) {
    .taskName {
        font-size: 1.1rem;
    }

    .taskDescription {
        font-size: 0.9rem;
    }

    .btnTarea {
        width: 9em;
    }
}