.taskCard {
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
    margin: 0.5em 0;
    padding: 0.5em;
    flex-direction: column;
}

.ocultoH2 {
    display: none;
}

.visibleH2 {
    display: block;
}

@media screen and (min-width: 768px) {
    .taskCard {
        flex-direction: row;
        gap: 1em;
        margin: 0.5em 0;
        padding: 0.8em;
    }
}

@media screen and (min-width: 1024px) {
    .taskCard {
        gap: 1.5rem;
        margin: 0.8em 0;
        padding: 1em;
    }
}