:root {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(23, 21, 21);
}

body {
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

button,
.submitBtn {
  cursor: pointer;
}

img {
  width: 100%;
  display: block;
  border-radius: 8px;
}

h1,
h2,
h3 {
  text-align: center;
}

h2,
h3 {
  padding: 0.2em;
  margin: 0.2em;
}

h1 {
  padding: 0.3em;
  margin-block: 0.2em;
  font-size: 2.5rem;
  line-height: 1.1;
  color: black;
}

p {
  font-size: 1rem;
}

button,
.submitBtn {
  border: none;
  background-color: black;
  color: white;
  font-weight: 500;
  transition: all 0.3s ease;
  border-radius: 10px;
  padding: 0.8em;
  margin-block: 0.5em;
}

button:hover,
.submitBtn:hover {
  background-color: rgb(31, 30, 30);
  box-shadow: 0 4px 12px rgb(31, 30, 30) (30, 58, 95, 0.4);
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
}

.flexColumn {
  flex-direction: column;
}

.fullContainer {
  width: 100%;
  background: #bdc3c7;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  height: 4em;
}

.fullContainer a,
.fullContainer p {
  color: white;
}

.mainContainer {
  flex-direction: column;
  margin: 0 auto 5.2em auto;
  max-width: 90%;
  padding-block: 2em;
}

/* ===============================
            768px
=================================== */

@media screen and (min-width:768px) {
  .mainContainer {
    padding: 2em;
  }
}

/* 768px */
/* ===============================
            992px
=================================== */
@media screen and (min-width:992px) {
  .mainContainer {
    max-width: 1200px;
  }
}

/* 992px */

/* ===============================
            1200px
=================================== */

@media screen and (min-width:1200px) {

  h1 {
    font-size: 3rem;
  }

  .mainContainer {
    padding: 2em 4em;
    max-width: 1200px;
    margin: 0 auto;
  }
}

/* 1200px+ */